  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 10px;
    border: 1px solid #ffffff;
  }